<header class="#">     
    <div class="container flex">
    <div>
        <p class="logo">Hell
           <svg width="22" height="30">
                <use></use>
            </svg> 
            EN
        </p>
        <p class="text-style"> <span class="hell-style">Адский</span> английский </p>
    </div> 

        <nav class="flex-for-nav">
            <ul class="list navigation">
                <li class="guide"><a href="#" class="quide-link">Программы обучения</a></li>
                <li class="guide"><a href="#" class="quide-link"><span class="about-us">О нас</span></a></li>
                <li class="guide"><a href="#" class="quide-link">Варианты обучения</a></li>
                <li class="guide"><a href="#" class="quide-link">Контакты</a></li>
            </ul>
            <button>Консультация по телефон</button>
        </nav>
    </div>
</header>
<!-- Блок герой -->
<section>
  <h1> Комплексная подготовка к ВНО по английскому языку </h1>
    <div>
        <p>Просто не будет</p>
        <p>Но ты гарантировано наберешь <span>+25 баллов</span></p>
    </div>
    <button>хочу на бесплатное занятие</button>
    <ul>
        <li>
            <svg>
                <use></use>
            </svg> 
            <p>Адаптированная авторская программа ВНО</p>
        </li>
        <li>
            <svg >
                <use></use>
            </svg> 
            <p> Современные методики обучения</p>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
            <p> Финансовая гарантия результата</p> 
        </li>
    </ul>
</section>
