<header class="#">
        
    <div class="#">
        <span class="logo">Hell</span>
           <svg class="icon">
                <use href="./img/symbol-defs.svg#icon-fire"></use>
            </svg> 
        <span class="logo">EN</span>
        <p class="#"> <span class="#">Адский</span> английский </p> 
    </div>

        <nav>
            <ul class="list">
                <li><a href="#" class="link">Программы обучения</a></li>
                <li><a href="#" class="link">О нас</a></li>
                <li><a href="#" class="link">Варианты обучения</a></li>
                <li><a href="#" class="link">Контакты</a></li>
            </ul>
            <button>Консультация по телефон</button>
        </nav>
</header>
<!-- Блок герой -->
<section>
  <h1> Комплексная подготовка к ВНО по английскому языку </h1>
    <div>
        <p>Просто не будет</p>
        <p>Но ты гарантировано наберешь <span>+25 баллов</span></p>
    </div>
    <button>хочу на бесплатное занятие</button>
    <ul>
        <li>
            <svg class="icon">
                <use href="./img/symbol-defs.svg#icon-fire"></use>
            </svg> 
            <p>Адаптированная авторская программа ВНО</p>
        </li>
        <li>
            <svg class="icon">
                <use href="./img/symbol-defs.svg#icon-fire"></use>
            </svg> 
            <p> Современные методики обучения</p>
        </li>
        <li>
            <svg class="icon">
                <use href="./img/symbol-defs.svg#icon-fire"></use>
            </svg>
            <p> Финансовая гарантия результата</p> 
        </li>
    </ul>
</section>