<!-- Главные проблемы-->
    <section class="problems-section">
    <div class="container">      
       <h2 class="problems-section-title">Главные проблемы учеников на English ВНО, которые мы <span class="problems-title-accent-color">помогаем</span> решить
       </h2>    
        <ul class="problems-list list">
<li class="problems-item">
<span class="problems-item-link"> 01 </span>
<h3 class="problems-link-title">Название грамматики</h3>
</li>
<li class="problems-item">
<span class="problems-item-link"> 02 </span>
<h3 class="problems-link-title">Визуализированные конспекты</h3>
</li>
<li class="problems-item">
<span class="problems-item-link"> 03 </span>
<h3 class="problems-link-title">Каждое занятие имеет цель и конкретный результат</h3>
</li>
<li class="problems-item">
<span class="problems-item-link"> 04 </span>
<h3 class="problems-link-title">Ревльные результаты преподавателя</h3>
</li>
<li class="problems-item">
<span class="problems-item-link"> 05 </span
>
<h3 class="problems-link-title">Прогамма курса соответствует требованиям МОН Украины</h3>
</li>
<li class="problems-item">
<span class="problems-item-link"> 06 </span>
<h3 class="problems-link-title">Набор команд по уровням знаний</h3>
</li>
</ul>   
    </section>
</div>