.inscription-style{
font-weight: 800;
font-size: 58px;
line-height: 130%;
/* or 75px */

letter-spacing: 0.03em;

color: $logo-color;
}
.warnt{
font-weight: 500;
font-size: 20px;
line-height: 164.9%;

letter-spacing: 0.08em;
color: $nav-color;
}
.quarantee{
font-weight: bold;
font-size: 20px;
line-height: 164.9%;

letter-spacing: 0.08em;

color: $logo-color;
}
.promise{
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 164.9%;

letter-spacing: 0.08em;

color:$logo-color;
}
.methods{
    display: flex;
}
.methods-item{
    display: flex;
    align-items: center;
}


